[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "dotfiles/oh-my-zsh"]
	path = dotfiles/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "dotfiles/vim/bundle/code-analysis/tagbar"]
	path = dotfiles/vim/bundle/code-analysis/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "dotfiles/vim/bundle/code-analysis/vim-lsc"]
	path = dotfiles/vim/bundle/code-analysis/vim-lsc
	url = https://github.com/natebosch/vim-lsc
[submodule "dotfiles/vim/bundle/colorschemes/gruvbox"]
	path = dotfiles/vim/bundle/colorschemes/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "dotfiles/vim/bundle/edit-utils/ctrlp.vim"]
	path = dotfiles/vim/bundle/edit-utils/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "dotfiles/vim/bundle/edit-utils/vim-gitgutter"]
	path = dotfiles/vim/bundle/edit-utils/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "dotfiles/vim/bundle/edit-utils/vim-illuminate"]
	path = dotfiles/vim/bundle/edit-utils/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate
[submodule "dotfiles/vim/bundle/edit-utils/pear-tree"]
	path = dotfiles/vim/bundle/edit-utils/pear-tree
	url = https://github.com/tmsvg/pear-tree
[submodule "dotfiles/vim/bundle/colorschemes/nord-vim"]
	path = dotfiles/vim/bundle/colorschemes/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "dotfiles/vim/bundle/edit-utils/auto-pairs"]
	path = dotfiles/vim/bundle/edit-utils/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "dotfiles/vim/bundle/code-analysis/syntastic"]
	path = dotfiles/vim/bundle/code-analysis/syntastic
	url = https://github.com/vim-syntastic/syntastic
[ubmodule "dotfiles/vim/bundle/code-analysis/vim-rails"]
	path = dotfiles/vim/bundle/code-analysis/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "dotfiles/vim/bundle/code-analysis/c.vim"]
	path = dotfiles/vim/bundle/code-analysis/c.vim
	url = https://github.com/vim-scripts/c.vim
[submodule "dotfiles/vim/bundle/code-analysis/rust.vim"]
	path = dotfiles/vim/bundle/code-analysis/rust.vim
	url = https://github.com/rust-lang/rust.vim
