actions:
  post:
    st_installation: sh ~/dotfiles/st_install.sh
config:
  backup: false
  create: true
  dotpath: dotfiles
dotfiles:
  f_vimrc:
    src: vimrc
    dst: ~/.vimrc
  f_xinitrc:
    src: xinitrc
    dst: ~/.xinitrc
  f_xresources:
    src: Xresources
    dst: ~/.Xresources
  f_zshrc:
    src: zshrc
    dst: ~/.zshrc
  f_bashrc:
    src: bashrc
    dst: ~/.bashrc
  d_vim:
    src: vim
    dst: ~/.vim
  f_tmux.conf:
    src: tmux.conf
    dst: ~/.tmux.conf
  d_tmux_themes:
    src: tmux-themes
    dst: ~/.tmux/themes
  f_emacs_init:
    src: init.el
    dst: ~/.emacs.d/init.el
  f_zprofile:
    src: zprofile
    dst: ~/.zprofile
  f_muttrc:
    src: muttrc
    dst: ~/.muttrc
  d_mutt:
    src: mutt
    dst: ~/.mutt
  f_latexmkrc:
    src: latexmkrc
    dst: ~/.latexmkrc
  f_zathurarc:
    src: zathurarc
    dst: ~/.config/zathura/zathurarc
  d_nvim:
    src: nvim
    dst: ~/.config/nvim
  d_alacritty:
    src: alacritty
    dst: ~/.config/alacritty
  f_sway:
    src: sway
    dst: ~/.config/sway/config
  f_gammastep:
    src: gammastep
    dst: ~/.config/gammastep/config.ini
  f_mako:
    src: mako
    dst: ~/.config/mako/config
  d_waybar:
    src: waybar
    dst: ~/.config/waybar
  d_scripts:
    src: scripts
    dst: ~/.local/scripts
profiles:
  laptop:
    include:
    - zsh
    - bash
    - vim
    - tmux
    - latex
    - alacritty
    - sway
  # dev server zsh setup
  dev-zsh:
    include:
    - zsh
    - vim
    - tmux
  # dev server bash setup
  dev-bash:
    include:
    - bash
    - vim
    - tmux
  # Actual packages supposed to be consumed through meta packages
  zsh:
    dotfiles:
    - f_zshrc
    - f_zprofile
    - d_scripts
  bash:
    dotfiles:
    - f_bashrc
  vim:
    dotfiles:
    - f_vimrc
    - d_nvim
    - d_vim
  x11:
    dotfiles:
    - f_xinitrc
    - f_xresources
  tmux:
    dotfiles:
    - f_tmux.conf
    - d_tmux_themes
  emacs:
    dotfiles:
    - f_emacs_init
  mutt:
    dotfiles:
    - f_muttrc
    - d_mutt
  latex:
    dotfiles:
    - f_zathurarc
    - f_latexmkrc
  alacritty:
    dotfiles:
    - d_alacritty
  sway:
    dotfiles:
    - f_sway
    - f_gammastep
    - f_mako
    - d_waybar
