snippet def
    #definition(${1:name})[
        ${0:description}
    ]
snippet qed
    #proof[
        ${0:description}
    ]
snippet qed
    #+begin_proof
    ${0:content}
    #+end_proof
snippet thm
    #theorem(${1:name})[
        ${0:description}
    ]
